# Ignore backup files
config.txt
app_settings.txt
excel/import_xls_report.txt
Import_*.xlsx
*.txt_bak_*

*.log
Backups/*
excel/.sort_xls.bat
MasterToolDatabase_GOOD_BACKUP.txt
MasterToolDatabase_test_backup.txt